@import url("https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600&display=swap");

:root {
  --gold: gold;
  --scarlet: rgb(112, 4, 4);
  --gainsboro: gainsboro;
  --blue: blue;
  --oscuro: #000;
  --body-font: 'Exo', sans-serif;
  --font-medium: 500;
  --font-semi-bold: 600;
  --z-tooltip: 10;
  --z-fixed: 100;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: hsl(219, 100%, 71%);
  color: var(--text-color);
  margin: 0;
}

h1,
h2,
h3 {
  font-family: var(--titulos);
  font-weight: var(--font-semi-bold);
  color: rgb(255, 255, 255);
}

p, a {
  font-family: var(--parrafos);
  text-decoration: none;
}

.foto .img {
  max-width: 100%;
  height: auto;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

nav {
  background: transparent;
  box-shadow: var(--light-shadow);
  margin-top: 10px;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 25px;
  margin-right: 15px;
  color: rgb(255, 255, 255);
  background: hsl(219, 100%, 71%);
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: gold;
  transform: rotate(90deg);
}
.logo {
  height: 30px;
  width: 280px;
  font-size: 20px;
}


.links a {
  margin-top: 20px;
  color: purple;
  font-size: 15px;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  transition: var(--transition);
}
.links a:hover {
  background: blue;
  color: gold;
  font-size: 18px;
  border-radius: 10px;
}
.social-icons {
  display: none;
  font-size: 18px;
}
/* By default hide the links */
.links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
/* Toggle class */
.show-links {
  height: 260px;
  text-align: center;
}
@media screen and (min-width: 725px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links {
    height: auto;
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 15px 5px;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .social-icons {
    display: flex;
  }
  .social-icons a {
    margin: 0 0.5rem;
    color: purple;
    transition: var(--transition);
  }
  .social-icons a:hover {
    color: gold;
    font-size: 18px;
  }
}

.texto-encabezado{
  position: absolute;
  z-index: 2;
  width: 100%;
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.texto-encabezado h2, p {
  color: purple;
  text-align: center;
  font-size: 35px;
  margin-top: 50px;
}
@media(min-width: 680px) {
  .texto-encabezado h2{
      font-size: 50px;
  }
}


.banner {
  position: relative;
  width: 100%;
  height: 90vh;
  margin-top: -1px;
}

.banner .clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.banner .clouds img {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  height: 450px;
  -webkit-animation: animate calc(4s * var(--i)) linear infinite;
          animation: animate calc(7s * var(--i)) linear infinite;
}

@-webkit-keyframes animate {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes animate {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.down-cloud {
  margin-top: 0px;
}

.down-cloud .home-img-1 img{
  width: 100%;
  height: 180px;
}
@media screen and (min-width: 450px) {
  .down-cloud .home-img-1 img {
    height: 210px;
  }
}
@media screen and (min-width: 560px) {
  .down-cloud .home-img-1 img {
    height: 250px;
  }
}
@media screen and (min-width: 670px) {
  .down-cloud .home-img-1 img {
    height: 300px;
  }
}
@media screen and (min-width: 780px) {
  .down-cloud .home-img-1 img {
    height: 360px;
  }
}
@media screen and (min-width: 920px) {
  .down-cloud .home-img-1 img {
    height: 420px;
  }
}
@media screen and (min-width: 1080px) {
  .down-cloud .home-img-1 img {
    height: 520px;
  }
}
.background__1{
  background-image: url(assets/pics/nurse3.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 50rem;
  opacity: 0.8;
}

.background__1--text{
  display: flex;
  justify-content: center;
  align-items: center;
  height:35rem;
}

.background__1 h1{
  padding: 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  background-color: rgb(29, 26, 26);
  color: white;
  font-size: 2.5rem;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 7px;
  border-radius: 13px 0px 13px 0px;
  outline: 0.5rem inset purple;
  outline-offset: 0.6rem;
  text-transform: uppercase;
}

.Full-Stack{
  
  background-color: white;
  opacity: 0.7;
  padding: 2.5rem;
}

.Full-Stack--header{
  margin-top:2rem;
  margin-bottom: 1rem;
  text-align:center;
  line-height:1rem;
}

.Full-Stack--text{
  padding: 10px;
  margin-top:5px;
  margin-bottom: 5px;
  line-height: 1.5rem;
  text-align:center;
  font-size: 0.8rem;
  
}

.background__2{
  background-image: url(assets/pics/1.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100%;
  opacity: 0.8;
}

.Aws{
  background-color: black;
  color:white;
  border:2px black solid;
  opacity:0.8;
  padding: 2.5rem;
  
}

.Aws--header{
  margin-top:2rem;
  margin-bottom: 1rem;
  text-align:center;
  line-height:1rem;
}

.Aws--text{
  padding: 10px;
  margin-top:5px;
  margin-bottom: 5px;
  line-height: 1.5rem;
  text-align:center;
  font-size: 0.8rem;
}

.background__2--image{
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#img-clarusway{
  width: 600px;
  height: auto;
  opacity: 0.3px;
}

.background__3{
  background-image: url(assets/pics/3montesori.webp);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100%;
  opacity: 0.7;
}

.background__3 h1{
  display:inline-block;
  width: 32rem;
  height:3.5rem;
  padding: 0px;
  background-color: #111010;
  color: white;
  font-size: 2.5rem;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 7px;
  border-radius: 13px 0px 13px 0px;
  outline: 0.4rem inset purple;
  outline-offset: 0.4rem;
  
}

.background__3--image{
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background__3 h1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  font-weight: 700;
  
}


.Data{
  
  background-color: white;
  opacity: 0.7;
  padding: 2.5rem;
}

.Data--header{
  margin-top:2rem;
  margin-bottom: 1rem;
  text-align:center;
  line-height:1rem;
}

.Data--text{
  padding: 10px;
  margin-top:5px;
  margin-bottom: 5px;
  line-height: 1.5rem;
  text-align:center;
  font-size: 0.8rem;
  
}

.background__4{
  background-image: url(assets/pics/4.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height:100%;
  opacity: 0.7;
}

.background__4 h1{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 32rem;
  height:3.5rem;
  padding: 0px;
  background-color: #111010;
  color: white;
  font-size: 2.5rem;
  text-align: center;
  vertical-align: middle;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 7px;
  border-radius: 13px 0px 13px 0px;
  outline: 0.4rem inset purple;
  outline-offset: 0.4rem;
  
}

.background__4--image{
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Why{
  background-color: black;
  color:white;
  padding: 2.5rem;
  opacity:0.8;
}

.Why--header{
  margin-top:2rem;
  margin-bottom: 1rem;
  text-align:center;
  line-height:1rem;
}

.Why--text{
  padding: 10px;
  margin-top:5px;
  margin-bottom: 5px;
  line-height: 1.5rem;
  text-align:center;
  font-size: 0.8rem;
}

.background__5{
  background-image: url(assets/pics/1montesori.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100%;
  opacity: 0.7;
}

.background__5 h1{
  display:inline-block;
  width: 28rem;
  height:3.5rem;
  padding: 0px;
  background-color: #141414;
  color: white;
  font-size: 2.5rem;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 7px;
  border-radius: 13px 0px 13px 0px;
  outline: 0.4rem inset purple;
  outline-offset: 0.4rem;
}

.background__5--image{
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background__5 h1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  font-weight: 700;
  text-decoration: uppercase;
}

.background__6{
  background-image: url(assets/pics/4montesori.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 50rem;
  opacity: 0.8;
  
  
}

.background__6--text{
  display: flex;
  justify-content: center;
  align-items: center;
  height:35rem;
 
}


.background__6 h1{
  padding: 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  /* height:4.5rem; */
  background-color: rgb(29, 26, 26);
  color: white;
  font-size: 2.5rem;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 7px;
  border-radius: 13px 0px 13px 0px;
  outline: 0.5rem inset purple;
  outline-offset: 0.6rem;
  text-transform: uppercase;
  /* margin-top: 16px; */
  
}

.background__7 {
  background-image: url(assets/pics/7montessori.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 50rem;
  opacity: 0.8;
  
  
}

.background__7--text{
  display: flex;
  justify-content: center;
  align-items: center;
  height:35rem;
 
}


.background__7 h1{
  padding: 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  /* height:4.5rem; */
  background-color: rgb(29, 26, 26);
  color: white;
  font-size: 2.5rem;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 7px;
  border-radius: 13px 0px 13px 0px;
  outline: 0.5rem inset purple;
  outline-offset: 0.6rem;
  text-transform: uppercase;
  /* margin-top: 16px; */
  
}

.background__8 {
  background-image: url(assets/pics/5montesori.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 50rem;
  opacity: 0.8;
  
  
}

.background__8--text{
  display: flex;
  justify-content: center;
  align-items: center;
  height:35rem;
 
}

.background__8 h1{
  padding: 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  background-color: rgb(29, 26, 26);
  color: white;
  font-size: 2.5rem;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 7px;
  border-radius: 13px 0px 13px 0px;
  outline: 0.5rem inset purple;
  outline-offset: 0.6rem;
  text-transform: uppercase;
}

.background__9 {
  background-image: url(assets/pics/4montessori.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 50rem;
  opacity: 0.8;
}

.background__9--text{
  display: flex;
  justify-content: center;
  align-items: center;
  height:35rem;
}


.background__9 h1{
  padding: 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  background-color: rgb(29, 26, 26);
  color: white;
  font-size: 2.5rem;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 7px;
  border-radius: 13px 0px 13px 0px;
  outline: 0.5rem inset purple;
  outline-offset: 0.6rem;
  text-transform: uppercase;
}

.background__10 {
  background-image: url(assets/pics/Pic-1.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 50rem;
  opacity: 0.8;
  
  
}

.background__10--text{
  display: flex;
  justify-content: center;
  align-items: center;
  height:35rem;
}

.background__10 h1{
  padding: 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  background-color: rgb(29, 26, 26);
  color: white;
  font-size: 2.5rem;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 7px;
  border-radius: 13px 0px 13px 0px;
  outline: 0.5rem inset purple;
  outline-offset: 0.6rem;
  text-transform: uppercase;
}


@media (max-width: 2560px) {

  .Full-Stack--header,
  .Full-Stack--text,
  .Aws--header,
  .Aws--text,
  .Data--header,
  .Data--text,
  .Why--header,
  .Why--text {
      font-size: 0.9rem;
      padding:  0.5rem;
      line-height: 1rem;
      outline-width: 0.2rem;
      outline-offset: 0.15rem;
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;
      
  }

  .background__1 h1{
      max-width: 20rem;
      font-size: 1.9rem;
      letter-spacing: 0.2rem;
      

  }
  .background__2 h1,
  .background__3 h1,
  .background__4 h1,
  .background__5 h1,
  .background__6 h1,
  .background__7 h1,
  .background__8 h1,
  .background__9 h1,
  .background__10 h1{
      max-width: 20rem;
      font-size:1.4rem;
      letter-spacing: 0.2rem;
      width: 20rem;
      height: 3.2rem;
      padding: 1rem;
  }
}

.footer {
  background-color: #f2f2f2;
  padding: 50px 0;
}

.footer h5 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.footer p {
  line-height: 22px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  text-decoration: none;
  color: #333;
}

.footer .social-icons {
  list-style: none;
  padding: 0;
}

.footer .social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.footer .social-icons li a {
  font-size: 20px;
}

.copyright {
  text-align: center;
  margin-top: 30px;
}




::-webkit-scrollbar {
  width: 12px;
  background-color: purple;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 100%);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: gold;
}